# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.production
src/main/resources/application-dev.properties
src/main/resources/application-dev.yml

# Logs
*.log
logs/

# Compiled
*.class
*.jar
*.war
bin/
